---
layout: layouts/base.njk
critical: archive.css
eleventyImport:
    collections: ["all"]
---

<section class="article-list">
    <ul>
        {% for post in collections.all | reverse %}
            {% set preview = post | preview %}
            <li>
                <article>
                    <a href="{{ post.url }}">
                        <h2>
                            {{ post.data.title }}
                        </h2>
                        <time>{{ post.date | date('dd-MM-yyyy') }}</time>
                        {% if preview %}
                            <span class="article__preview">{{ preview }}</span>
                        {% endif %}
                        <ul class="article__tags">
                            {% for tag in post.data.tags %}
                                <li>
                                    <span>{{ tag }}</span>
                                </li>
                            {%- endfor %}
                        </ul>
                    </a>
                </article>
            </li>
        {%- endfor %}
    </ul>
</section>