h2 {
    font-size: 2em;
    margin-bottom: 0;
}

.italic {
    font-style: italic;
}

.article-published {
    font-style: italic;
    font-size: .8em;
}

.filename {
    padding-top: .25em;
    padding-left: 1em;
    width: 100%;
    border-radius: 0.3em;
    margin-bottom: -1em;
    font-style: italic;
    background: var(--color-bg-dark);
    color: var(--color-gray1);
}

article pre[class*="language-"] {
    overscroll-behavior-x: none;
    background: var(--color-bg-dark);
}