<footer>
    <div>
        <p>built with <a href="https://www.11ty.dev/">eleventy</a>, theme by <a href="https://github.com/morhetz/gruvbox">gruvbox</a>
        <p>© Samuel Huff 2025</p>
    </div>
    <div>
        <ul>
            <li><a href="https://github.com/huffSamuel">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/sam-writes-software/">LinkedIn</a></li>
            <li><a href="https://stackoverflow.com/users/6425808/samuel-huff">Stack Overflow</a></li>
        </ul>
    </div>
</footer>