header {
  border-bottom: 2px solid var(--color-bg1);
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

header > * {
  margin: 0 auto;
}

header > span {
  width: 100%;
  display: block;
  font-size: 1.25em;
  font-weight: 500;
}

nav ul {
  padding-inline-start: 0;
  list-style: none;
  margin-block: 0;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  margin-block-start: 0.5em;
}

header nav {
  margin: 0 auto;
  padding-bottom: -2px;
  display: flex;
  flex-direction: row;
}

header nav li {
  border-radius: 0.3em;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  background-color: var(--color-bg1);
  color: var(--color-fg1);
}

header nav li a::before {
  content: '[';
  padding: 0 2px;
}

header nav li a::after {
  content: ']';
  padding: 0 2px;
}

header nav li a::before,
header nav li a::after {
  opacity: 0;
  transition: opacity 0.2s ease;
  font-weight: 600;
  color: var(--color-blue1);
}

header nav li a:hover::before,
header nav li a:hover::after {
  color: var(--color-yellow1);
}

header nav li.active a::before,
header nav li.active a::after,
header nav li a:hover::before,
header nav li a:hover::after {
  opacity: 1;
}

nav ul li:hover a,
nav ul li a {
  color: var(--color-fg);
}

nav ul li a {
  text-decoration: none;
  padding: 0.5em 1.25em;
  display: inline-block;
  background: none;
  display: block;
  height: 100%;
  font-weight: 500;
}

nav ul li:hover a {
  background: none;
}

@media (prefers-color-scheme: dark) {
  header nav li {
    background-color: var(--color-fg1);
    color: var(--color-bg1);
  }

  header nav ul li:hover a,
  header nav ul li a {
    color: var(--color-bg1);
  }

  header nav li a:hover::before,
  header nav li a:hover::after {
    color: var(--color-orange);
  }

  header nav li a::before,
  header nav li a::after {
    color: var(--color-blue);
  }
}
