---
layout: layouts/base.njk
critical: blog.css
---

{% set isUpdated = updated != null %}

<article>
    <h2>{{ title }}</h2>
    <p class="article-published">
        Published
        <time>{{ created | date('MMM dd yyyy') }}</time>
        {% if isUpdated %}
            | Last updated
            <time>{{ updatedDate | date('MMM dd yyyy') }}</time>
        {% endif %}
    </p>
    {{ content | safe }}
</article>